[submodule "MV-Final-Project1"]
	path = MV-Final-Project1
	url = https://github.com/jxkobrxyes/MV-Final-Project1
[submodule "Projects/sheltor-inventory"]
	path = Projects/sheltor-inventory
	url = https://github.com/jxkobrxyes/sheltor-inventory.git
[submodule "Projects/Employee-Management-System"]
	path = Projects/Employee-Management-System
	url = https://github.com/jxkobrxyes/Employee-Management-system.git
[submodule "Projects/Banking-Application"]
	path = Projects/Banking-Application
	url = https://github.com/jxkobrxyes/BankingApplication.git
